  body {
    margin: 0;
    padding: 0;
  }
  
  h2,
  h3 {
    margin: 10px;
    font-size: 18px;
  }
  
  h3 {
    font-size: 16px;
  }
  
  p {
    margin: 10px;
  }
  button{
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  /**
  * Create a position for the map
  * on the page */
  #map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 85%;
  }
  
  #tools{
    position: absolute;
    top:0;
    bottom:0;
    right: 0;
    width: 15%;
    background:#938787dd;
    /* 自动排列 */
    display: flex;
    /* 竖直排列 */
    flex-direction: column;
    /* 水平对齐 */
    align-items: center;
    /* 排列间距 */
    gap: 0px; 
  }
  #style-box{
    margin: 20px;
    padding: 10px;
    background-color:antiquewhite;
    /* 自动排列 */
    display: flex;
    /* 竖直排列 */
    flex-direction: column;
    /* 水平对齐 */
    align-items: center;
    /* 排列间距 */
    gap: 0px; 
  }
  
  /**
  * Set rules for how the map overlays
  * (information box and legend) will be displayed
  * on the page. */
  .map-overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #0befe4;
    margin-right: 20px;
    font-family: Arial, sans-serif;
    overflow: auto;
    border-radius: 3px;
    z-index: 1;
  }
  
  #features {
    top: 0;
    height: 100px;
    margin-top: 20px;
    width: 250px;
  }
  
  #legend {
    padding: 10px;
    box-shadow: 0 1px 2px rgba(53, 4, 252, 0.1);
    line-height: 18px;
    height: 150px;
    margin-bottom: 40px;
    width: 100px;
  }
  
  .legend-key {
    display: inline-block;
    border-radius: 20%;
    width: 10px;
    height: 10px;
    margin-right: 5px;
  }
  
    